* {
margin: 0;
padding: 0;

}
.Hello { 
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 5px solid salmon;
  border-radius: 10px;
  background-color: rgba(255, 175, 150, 0.911);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}